.ant-popover {
  padding-top: 5px !important;
}
.ant-popover-arrow {
  display: none;
}
.ant-popover-inner {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid #eee;
}
.ant-popover-inner-content {
  padding: 12px !important;
}
.ant-btn {
  font-size: 13px !important;
}
.ant-select-item-option-content {
  font-size: 13px !important;
}