// popover
.ant-popover {
  padding-top: 5px !important;
}
.ant-popover-arrow {
  display: none;
}
.ant-popover-inner {
  box-shadow: $boxShadow;
  border: 1px solid $borderColor;
}
.ant-popover-inner-content {
  padding: 12px !important;
}

// dropdown
.ant-dropdown {
  min-width: 120px;
  animation: none !important;
}
.ant-dropdown-menu {
  box-shadow: $boxShadow;
  border: 1px solid $borderColor;
}
.ant-dropdown-menu-item {
  font-size: 13px;
  transition: none;

  &:hover {
    background-color: #e1e1e1;
  }
}

// button
.ant-btn {
  font-size: 13px !important;

  &.no-padding {
    padding: 0;
  }
}

// radio
.ant-radio-group {
  font-size: 13px !important;
}
.ant-radio-button-wrapper {
  text-align: center;
}

// slider
.ant-slider-track {
  background-color: $themeColor;
}
.ant-slider-handle {
  border-color: $themeColor;
}

// select
.ant-select {
  user-select: none;
}
.ant-select-selection-item {
  font-size: 13px;
}
.ant-select-item-option-content {
  font-size: 13px !important;
}

// tooltip
.ant-tooltip-inner {
  font-size: 12px;
}

// checkbox
.ant-checkbox-wrapper {
  font-size: 13px;
}