@each $font in $fontList {
  @font-face {
    font-display: swap;
    font-family: $font;
    src: url('../fonts/#{$font}.woff2') format('woff2'), url('../fonts/#{$font}.ttf') format('truetype');
  }
}