// ProseMirror 富文本默认样式

.ProseMirror, .ProseMirror-static {
  outline: 0;
  border: 0;
  font-size: 20px;
  word-break: break-word;
  white-space: normal;

  &:not(.ProseMirror-static) {
    user-select: text;
  }

  ::selection {
    background-color: rgba(#d14424, 0.3);
    color: inherit;
  }

  p {
    text-indent: var(--textIndent);
  }

  p + p {
    margin-top: var(--paragraphSpace);
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 20px;

    li {
      list-style-type: disc;
    }
  }

  ol {
    list-style-type: decimal;
    padding-inline-start: 20px;

    li {
      list-style-type: decimal;
    }
  }

  code {
    background-color: $borderColor;
    padding: 1px 3px;
    margin: 0 1px;
    border-radius: 2px;
    font-family: inherit;
  }

  blockquote {
    overflow: hidden;
    padding-right: 1.2em;
    padding-left: 1.2em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
  }

  [data-indent='1'] {
    padding-left: 48px;
  }
  [data-indent='2'] {
    padding-left: 96px;
  }
  [data-indent='3'] {
    padding-left: 144px;
  }
  [data-indent='4'] {
    padding-left: 192px;
  }
  [data-indent='5'] {
    padding-left: 240px;
  }
  [data-indent='6'] {
    padding-left: 288px;
  }
  [data-indent='7'] {
    padding-left: 336px;
  }
}

.ProseMirror-selectednode {
  outline: none !important;
}