$themeColor: #d14424;
$themeHoverColor: #de6949;
$textColor: #41464b;
$borderColor: #eee;
$lightGray: #f9f9f9;

$boxShadow: 3px 3px 3px rgba(#000, 0.15);

$transitionDelay: .2s;
$transitionDelayFast: .1s;
$transitionDelaySlow: .3s;

$borderRadius: 2px;
$fontList: '仓耳小丸子', '优设标题黑', '字制区喜脉体', '峰广明锐体', '摄图摩登小方体', '站酷快乐体', '素材集市康康体', '素材集市酷方体', '途牛类圆体', '锐字真言体';