$themeColor: #d14424;
$themeHoverColor: #de6949;
$textColor: #41464b;
$borderColor: #e5e7eb;
$lightGray: #f9f9f9;

$boxShadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);

$transitionDelay: .2s;
$transitionDelayFast: .1s;
$transitionDelaySlow: .3s;

$borderRadius: 2px;