$themeColor: #d14424;
$textColor: #41464b;
$borderColor: #eee;
$lightGray: #f9f9f9;

$boxShadow: 3px 3px 3px rgba(#000, 0.15);

$transitionDelay: .2s;
$transitionDelayFast: .1s;
$transitionDelaySlow: .3s;

$borderRadius: 2px;